#content-icon-listen {
  border-radius: 50%;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  box-shadow: -1px 4px 25px rgb(24,82,58);
  z-index: 2;
}

#like {
  border-radius: 50%;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  z-index: 3;
}

#like1 {
  border-radius: 50%;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  z-index: 3;
}

.P {
  line-height: 2;
}

